<section class="content-header">
  <h1>
    Bem vindo
    <small>Sistema AMed</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Início</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content container-fluid">
    <h1>Hello, world!</h1>
</section>



